@font-face {
	font-family: 'Conv_FugazOne-Regular';
	src: url('../fonts/FugazOne-Regular.eot');
	src: local('☺'), url('../fonts/FugazOne-Regular.woff') format('woff'), 
	url('../fonts/FugazOne-Regular.ttf') format('truetype'), 
	url('../fonts/FugazOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Galada-Regular';
	src: url('../fonts/Galada-Regular.eot');
	src: local('☺'), url('../fonts/Galada-Regular.woff') format('woff'), 
	url('../fonts/Galada-Regular.ttf') format('truetype'), 
	url('../fonts/Galada-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_LoveYaLikeASister-Regular';
	src: url('../fonts/LoveYaLikeASister-Regular.eot');
	src: local('☺'), url('../fonts/LoveYaLikeASister-Regular.woff') format('woff'), 
	url('../fonts/LoveYaLikeASister-Regular.ttf') format('truetype'), 
	url('../fonts/LoveYaLikeASister-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('../fonts/Shrikhand-Regular.eot');
	src: local('☺'), url('../fonts/Shrikhand-Regular.woff') format('woff'), 
	url('../fonts/Shrikhand-Regular.ttf') format('truetype'), 
	url('../fonts/Shrikhand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calligraffitti-Regular';
	src: url('../fonts/Calligraffitti-Regular.eot');
	src: local('☺'), url('../fonts/Calligraffitti-Regular.woff') format('woff'), 
	url('../fonts/Calligraffitti-Regular.ttf') format('truetype'), 
	url('../fonts/Calligraffitti-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Font Awesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), 
	url('../fonts/fontawesome-webfont.ttf') format('truetype'), 
	url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	width: auto;
	margin: 0 auto;
	max-width: 1920;
	min-width: 320px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	background-color: #95a299;

	
}

h2 {
	width: 600px;
	margin: 0 auto;
	font-family: 'Conv_LoveYaLikeASister-Regular';
	font-size: 5rem;
	text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
	width: 100%;
	height: 1080px;
	background-image: url('../img/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: initial;
	
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color:  rgba(12%, 12%, 13%, 0.75);
	position: fixed;
	z-index: 1;
}

.logo_wrapper {
	margin-left: 20px;
	flex-grow: 1.1;
}

svg {
	width: 50px;
}

.menu-icon {
	margin-right: 20px;
    display: none;
    width: 45px;
    height: 35px;
	cursor: pointer;
	position: relative;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2), nav-icon span:nth-child(3) {
    top: 13px;
}

.menu-icon span:nth-child(4) {
    top: 26px;
}

.main-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1.2;
	margin-right: 80px;
}

.main-menu li {
	font-family: 'Conv_FugazOne-Regular';
	font-size: 2rem;
	display: block;
}

.main-menu li a {
	text-decoration: none;
	color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus,
.section-link:hover,
.section-link:focus,
.grid-section p a:hover,
.grid-section p a:focus,
.grid-section h1 a:hover,
.grid-section h1 a:focus {
	color: #9eb428;
}

.grid-section {
	position: relative;
	top: 80px;
	margin: 0 auto;
	width: 90%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 100px);
}

.grid-section p a,
.grid-section h1 a {
	text-decoration: none;
}

.main-text_1 a,
.main-text_2 a,
.main-text_4 a {
	color: #bd0946;
}

h1 a,
.main-text_3 a {
	color: #8a163d;
}

.grid-section h1 {
	font-family: 'Conv_LoveYaLikeASister-Regular';
	font-size: 7rem;
	color:  #8a163d;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

 .main-text_1 {
	font-family: 'Shrikhand-Regular';
	font-size: 1.5rem;
	text-align: center;
	color:  #bd0946;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.main-text_2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	text-align: center;
	color:  #bd0946;
	grid-column-start: 9;
	grid-column-end: 11;
	grid-row-start: 3;
	grid-row-end: 4;
}

.main-text_3 {
	font-family: 'Calligraffitti-Regular';
	font-size: 2rem;
	text-align: center;
	color:  #8a163d;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 8;
	grid-row-end: 9;
}

.main-text_4 {
	font-family: 'Conv_Galada-Regular';
	font-size: 1.8rem;
	text-align: center;
	color:  #bd0946;
	grid-column-start: 9;
	grid-column-end: 12;
	grid-row-start: 7;
	grid-row-end: 8;
}

.section-link {
	text-decoration: none;
	font-family: 'Conv_FugazOne-Regular';
	font-size: 2rem;
	text-align: center;
	color: #8a163d;
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
}

.heading-wrapper {
	width: 100%;
	background-color: #95a299;
}

.heading-wrapper p {
	display: block;
	width: 70vw;
	margin: 20px auto;
	font-size: 1.8rem;
}

main {
	width: 100%;
}

.text-section-wrapper {
	width: 100%;
	background-image: url('../img/text-section-bg.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.content {
	margin-left: 10vw;
	width: 40vw;
	background-color: rgba(149, 162, 153, 0.75);
	padding: 10px 2vw;
}

.content h3 {
	font-family: 'Conv_LoveYaLikeASister-Regular';
	font-size: 3rem;
}

.content p {
	font-size: 1.7rem;
}

.slider {
	position: relative;
	overflow: hidden;
	width: 100%;
  }

  .slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
  }

  .slider__item {
	flex: 0 0 50%;
	max-width: 50%;
	background-color: #515a55;
  }

  

  @media screen and (min-width: 320px) and (max-width: 615px) {
	.slider__item {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
}

  @media screen and (min-width: 615px) and (max-width: 915px) {
	.slider__item {
	  flex: 0 0 33%;
	  max-width: 33%;
	}
  }

  @media (min-width: 915px) {
	.slider__item {
	  flex: 0 0 16%;
	  max-width: 16%;
	}
  }
  

  .slider__control {
	position: absolute;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	color: #fff;
	text-align: center;
	opacity: 0.5;
	height: 50px;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, .5);
  }

  .slider__control:hover,
  .slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: .9;
  }

  .slider__control_left {
	left: 0;
  }

  .slider__control_right {
	right: 0;
  }

  .slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
  }

  .slider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {
	line-height: 250px;
	font-size: 100px;
	text-align: center;
  }

  .cook-wrapper {
	  background-image: url('../img/cook-section-bg.jpg');
  }

  .content_video {
	  margin-left: 45vw;
  }

  .video-wrapper {
	  margin: 0 auto;
	  margin-bottom: 40px;
	  width: 40vw;
	  height: 400px;
  }

  iframe {
	  width: 100%;
	  height: 100%;
  }

  .form-wrapper {
	  background-image: url('../img/form-section-bg.jpg');
	  padding-bottom: 0;
  }

  .form-content {
	  margin: 0 auto;
	  background-color: rgba(12%, 12%, 13%, 0.75);
	  padding: 40px 4vw;
  }

  .check-buttons {
	  font-family: 'Conv_LoveYaLikeASister-Regular';
	  font-size: 1.8rem;
	  color: #ffffff;
	  display: flex;
	  flex-direction: column;
  }

   .variable:first-child {
	  margin-top: 30px;
  }

   .variable {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.2rem;
	margin-top: 10px;
	margin-left: 1vw;
	width: 40vw;
  }

  form {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
  }

  textarea {
	  margin-top: 20px;
	  background-color: rgba(149, 162, 153, 0.75);
	  color: #ffffff;
	  width: 50vw;
  }

  textarea::placeholder {
	  color: #ffffff;
  }

  .input-wrapper {
	  display: block;
	  margin-top: 60px;
  }

  .input-wrapper label {
	  color: #ffffff;
	  font-size: 1.4rem;
  }

  #name,
  #email {
	  display: block;
	  width: 18vw;
	  height: 60px;
	  font-size: 40px;
	  background-color: rgba(149, 162, 153, 0.75);
	  margin-top: 10px;
	  color: #ffffff;
  }

  #submit {
	  margin-top: 80px;
	  width: 18vw;
	  height: 80px;
	  padding: 0;
	  border: none;
	  font-family: 'Conv_LoveYaLikeASister-Regular';
	  font-size: 2rem;
	  color: #000000;
	  text-transform: uppercase;
	  background-color: #95a299;
	  cursor: pointer;
	  border-radius: 10px;  
  }

  input,
  textarea {
	outline: none;
}

footer {
	margin-top: 80px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 100%;
	height: 120px;
	background-color:  rgba(12%, 12%, 13%, 0.75);
	z-index: 1;
}

.social a {
    text-align: center;
    width: 40px;
    height: 40px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.github a:hover {
	background: #191919;
	color: #fff;
}

.instagram a:hover {
	background: #3f729b;
	color: #fff;
	}

.facebook a:hover {
	background: #3b5998;
	color: #fff;
}

.top-button__wrapper{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(12%, 12%, 13%, 0.75);
	position: fixed;
	bottom: 140px;
	right: 40px;
	z-index: 1;
	padding: 16px 8px 0 8px;
	display: none;
}

.back_to_top {
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	display: none;
	margin: 0 auto;
  }
  
  .back_to_top:hover {
	border-bottom-color: #9eb428;
  }
  
  .back_to_top-show {
	display: block;
  }

@media screen and (max-width: 1000px) {
	nav {
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
	}

	.menu-icon{
	  display: block;
	}
	
	.main-menu {
	  display: none;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  align-items: center;
	  width: 100%;
	  flex-grow: 0;
	}
	
	.main-menu li {
	  width: 100%;
	  margin: 0 auto;
	  display: block;
	  padding: 10px 0;
	  text-align: center;
	  color: #ffffff;
	  border-top: 1px solid #9eb428;
	}

	 .menu_state_open.menu-icon span:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	
	 .menu_state_open.menu-icon span:nth-child(2) {
		transform: rotate(45deg);
	}
	
	 .menu_state_open.menu-icon span:nth-child(3) {
		transform: rotate(-45deg);
	}
	
	 .menu_state_open.menu-icon span:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	
	.main-menu.menu_state_open {
		display: flex;  
	}

	.wide-wrapper {
	height: 310px;
	}

	.main-text_4,
	.main-text_2 {
		display: none;
	}
}

@media screen and (max-width: 1000px) and (min-width: 615px) {

	

	.main-text_3 {
		grid-column-start: 8;
		grid-column-end: 12;
	}

	.section-link {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 6;
		grid-row-end: 7;
	}

	.content {
		width: 80vw;
		margin: 0 auto;
	}

	.video-wrapper {
		width: 90%;
		height: 400px;
	}

	#email,
	#name {
		height: 30px;
		font-size: 20px;
	}

	textarea {
		width: 100%;
	}

	footer {
		justify-content: center;
	}
  }

  @media screen and (max-width: 660px) and (min-width: 320px) {

	.grid-section {
		grid-template-columns: repeat(3, 33%);
	}

	.main-text_3 {
		grid-column-start: 3;
		grid-column-end: 4;
	}

	.section-link {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 6;
		grid-row-end: 7;
	}

	h2 {
	  font-size: 3rem;
	  width: 300px;
  }

    form {
	  flex-direction: column;
  }

    #email,
    #name {
	  width: 100%;
	  height: 30px;
	  font-size: 20px;
  }

    textarea {
	  width: 100%;
  }

    #submit {
	  margin: 0 auto;
	  margin-top: 50px;
  }

    .content {
	  margin: 0 auto;
	  width: 80vw;
  }

  .video-wrapper {
	  width: 400px;
	  height: 200px;
  }

  footer {
	  justify-content: space-around;
  }
}
